div.contentbox {
  background: #FFF;
  height: 500px;
  margin: 20px;
  font-size: 28px;
  border: #CCC 1px dashed;
}
body{
	margin: 0;
	padding: 0;
	background: #fff;
	height: 100%;
}

header{
	font-size: 1.2rem;
	font-weight: bold;
	top: 0;

	/*position: relative;
	left: 0;
	padding: 0 50px;

	width: 100%;
	background: #5f5f5f;
	box-sizing: border-box;
	height: 90px;
	*/
	
}
header .logo img
{
		height:90px;

/*}
.logo img{*/
		
	
	width:327px;
	
}


header .logo .quote
{
	float: right;

	padding-top: 75px;


}

header nav{
	position: absolute,fixed;

	
	padding: 0 50px;
	/*background: #171717;*/
	width: 100%;
	background: #5f5f5f;
	box-sizing: border-box;
	height: 50px;
	
	
	/*position: relative;
	
	overflow: auto;
	padding: 0 ;
	background: #191918;
	width:100%;
	box-sizing: border-box;
  	margin: 0;*/
}

header nav ul.navbar2{
	margin: 0 ;
	/*margin-top: 20px;*/
	padding: 0;
	display: flex;	
}

header nav ul li{
	
	list-style-type: none;

}



header nav ul li a
{
 		height: 50px;
 		line-height: 50px;
 		padding: 0 20px;
 		color: #f1f1f1;
 		text-decoration: none;
 		display: block;
 		font-family:bahnschrift,comic sans ms,Arial,elephant;
 		
}

 header nav ul li a:hover{
 		background-color: #50e05a;
 		text-transform: uppercase;
 		text-decoration: none;
 		font-weight: bold;
 		color:white;
 	}

div.menu-toggle{
	color: green;
	/*float: right;*/
	line-height: 50px;
	cursor: pointer;

	display: none;
}

@media (max-width: 991px)
{
	header
	{
		font-size: 1.2rem;
		padding: 0 20px;
	}
	 div.menu-toggle
	{
		display: block;
		
		
	}
	header nav
	{
		position: absolute;
		/*width: 100%;*/
		height:200px;
		background: #333;
		top: 98px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active
	{
		left: 20px;
		right: 20px;
	}
	header nav ul.navbar2
	{
		display: block;
		text-align: center;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,.2); 
	}
}

#div1,#div3 {
	background: #50e05a;
}

#div1,#div3,#div2,#div4{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

footer{
	font-size: 1.2rem;
	position: static;
	left: 0px;
	bottom:0px;
	margin: 0px;
	padding: 0px;
	background: #333;
	width: 100%;
	/*background: #ff7f27;*/
	box-sizing: border-box;
	font-weight: bold;
	height: 30px;
}

footer .copyright{
	float: left;
	height:40px;
	color: white;
}

footer .contact{

		float: right;
}
footer ul {
		display: flex;
		
		}

.contact-us{
	
	
	list-style-type: none;

}

.contact-us a
{
 		height: 40px;
 		line-height: 30px;
 		padding: 0 20px;
 		color: white;
 		text-decoration: none;
 		display: block;
 		font-family:bahnschrift,comic sans ms,Arial,elephant;

 		
}

.sticky{
	position: fixed;
	top: 0;
	right: 0;
	left:0;
	z-index: 1030;

}



  /*scroll to top button*/
   #scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#50e05a;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
   }
   #scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
   }
   #scroll:hover {
    background-color:#b0ebb8;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
   }
   #scroll span:hover {
    border-bottom-color:black;
   }


   /*End of scroll to top button*/